$heading: (
  primary: 5rem,
  secondary: 3rem,
);
$paragraph: (
  primary: 2.5rem,
  secondary: 2rem,
  tertiary: 1.5rem,
);
$button: (
  small: 2rem,
  meduim: 3rem,
  big: 3.2rem,
  huage: 3.8rem,
);

$spacing: (
  small: 1px,
  medium: 2px,
  big: 3px,
  huage: 4px,
);
